$primary : rgb(203, 35, 49);

.button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: $primary;
  color: #ffffff;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1.8rem;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;

  &:hover {
    background-color: darken($primary, 10);
    color: #a3cb0f;
  }

  &:active {
    box-shadow: 0 2px 15px rgba(203, 35, 49, 0.8);
}
}